
name: Scheduled-job

on:
  schedule:
    - cron: "* * * * *"
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Print Working DIr
        run: pwd
        
      - name: Create file
        run: git diff > "diff.txt"
        
      - uses: EndBug/add-and-commit@v7
        with:
          # Determines the way the action fills missing author name and email. Three options are available:
          # - github_actor -> UserName <UserName@users.noreply.github.com>
          # - user_info -> Your Display Name <your-actual@email.com>
          # - github_actions -> github-actions <email associated with the github logo>
          # Default:
          default_author: github_actor
          message: 'file uploaded'
          pull_strategy: 'NO-PULL'
          push: true
          signoff: true
          tag: 'v1.0.0 --force'      
    
#       - name: Send mail
#         uses: dawidd6/action-send-mail@v3
#         with:
#           server_address: smtp.gmail.com
#           server_port: 465
#           username: ${{secrets.MAIL_USERNAME}}
#           password: ${{secrets.MAIL_PASSWORD}}
#           subject: Github Actions job result
#           to: radinoiudamian@gmail.com
#           from: Damian # <user@example.com>
#           secure: true
#           body: Build job of ${{github.repository}} completed successfully!
#           html_body: file://file_should_be_in_DevOps-Tasks.txt
#           ignore_cert: true
#           convert_markdown: true
#           attachments: file_should_be_in_DevOps-Tasks.txt
