
name: Create and deploy angular app

# Controls when the action will run. 
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v2
      - name: Install NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: install angular CLI
        run: npm install -g @angular/cli
      - name: create angular app
        run: ng new test_project --skip-install
      - name: move files from project dir into repo dir
        run: mv  -v test_project/* .
      - name: Add, commit, push
        uses: EndBug/add-and-commit@v7 # You can change this to use a specific version
        with:
          add: 'src'
          default_author: github_actions 
          message: 'Create angular app'
          pull_strategy: 'NO-PULL'
          push: true


        
