
name: Scheduled-job

on:
  schedule:
    - cron: "* * * * *"
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Print Working DIr
        run: pwd
        
      - name: Get current user
        run: who
        
      - name: Create file
        run: echo "testing_this" > "file_should_be_in_DevOps-Tasks.txt"
        
      - name: Get files
        run: ls
