
name: Scheduled-job

on:
  schedule:
    - cron: "* * * * *"
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Print Working DIr
        run: pwd
